[buildout]
extends = http://dist.plone.org/release/4.1.2/versions.cfg

extensions =
    mr.developer
    buildout.dumppickedversions

parts =
    instance
    zopepy
    plonesite

develop = .

auto-checkout = *

[sources]
#py-wikimarkup = git https://github.com/dcramer/py-wikimarkup.git
py-wikimarkup = git https://github.com/pcraciunoiu/py-wikimarkup.git
# Use checkout until Products.Archetypes 1.7.10 is released
Products.Archetypes = git  https://github.com/plone/Products.Archetypes.git

[instance]
recipe = plone.recipe.zope2instance
http-address = 127.0.0.1:9900
user = admin:admin
debug-mode = on
verbose-security = on
eggs =
    Pillow
    Plone
    argparse  # for import.py script
    collective.blueprint.wikipedia
    iw.debug
zcml =
    collective.blueprint.wikipedia
    iw.debug

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy

[plonesite]
recipe = collective.recipe.plonesite
site-replace = true
post-extras = ${buildout:directory}/runimport.py

[versions]
lxml = 2.3.1
# Until next 4.1.3 is released
plone.uuid = 1.0.2

Pillow = 1.7.5
iw.debug = 0.3

#Required by:
#collective.blueprint.wikipedia 0.2dev
collective.transmogrifier = 1.3

#Required by:
#iw.debug 0.3
ipdb = 0.6

#Required by:
#ipdb 0.6
ipython = 0.11

#Required by:
#collective.blueprint.wikipedia 0.2dev
plone.app.transmogrifier = 1.2
